
.book-as-image{
    background-image: url('http://david-burgstaller.com/api/images/bookImage.jpg');
    width: 100%;
    height: 544px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}