
hr.hrStyle {
    margin-top: 50px;
    border: 2px solid #e99000;
    width: 30%;
    border-radius: 3px !important;
}
.vrStyle {
    position: relative;
    float: left;
    padding: 0px;
    margin: 0px;
    margin-left: -12px;
    top: 40%;
    height: 20%;
    border-left: 100px solid #e99000; 
}