.visibleAlert{
    opacity: 1 !important;
    max-height: 100% !important;
    background-color: #ECFFDC !important;
}
.animationAlert {
    opacity: 0 ;
    transition: opacity 0.4s ease-in-out;
}
.bg-textfield {
    background-color: #e7e3da;
}

.contact-as-image{
    background-image: url('http://david-burgstaller.com/api/images/ContactImage21.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1 !important;
}