@import "~bootstrap/scss/bootstrap"; 

html{
    background-color: #c4c4c4;
}
.w-65 {
    width: 65% !important;
}

$grid-breakpoints: (
  xs: 300px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$container-max-widths: (
  xs: 320px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);